%h1 Listing teams

%table.table.table-condensed
  %tr
    %th Code
    %th Name
    %th
    %th

  - @teams.each do |team|
    %tr
      %td= link_to(team.code, team)
      %td= link_to(team.name, team)
      %td= link_to 'Edit', edit_team_path(team)
      %td= link_to 'Destroy', team, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Team', new_team_path
