%table{:border => 1}
  %thead
    %tr
      %th Name
      %th Remaining
      %th Total Points
  %tbody
  - @users.each do |u|
    %tr
      %td= link_to u.full_name, u
      %td= u.players_remaining
      %td= u.total_points

%p#last_refresh= "Last refresh: #{Time.now.strftime("%I:%M:%S %p")}"
