%html
  %head
    %title Playerpool - Draft Room
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    .container-fluid
      .row-fluid
        #draft-window.span8
          #draft-header.alert.alert-success
            No picks yet
          #error-alert.alert.alert-error.hide
            %button.close{ :"data-dismiss" => 'alert', :href => '#' } ×
            %span
          .row-fluid
            #teams.tabbable.tabs-left.span7
              %ul.nav.nav-tabs
                - @users.each do |user|
                  %li
                    %a{:href => "#team-#{user.id}", :'data-toggle' => 'tab'}= user.full_name
              .tab-content
                - @users.each do |user|
                  .tab-pane{:id => "team-#{user.id}"}
                    %h5= "#{user.full_name}'s Team"
                    %ol
                      - user.players.each do |player|
                        %li= player_and_team(player)
            #pick-window.span5
              #pick-input
                = form_for Pick.new, :class => 'form-inline', :remote => true, :url => '/picks.json' do |f|
                  = f.hidden_field :user_id, :value => current_user.id
                  = f.hidden_field :player_id
                  = f.label 'Player Name:'
                  = text_field_tag :player_name, nil, :class => 'span9', :autocomplete => 'off'
                  %button.btn.pull-right Draft
              #round-window
                - (1..10).each do |round|
                  %h5= "Round #{round}"
                  %ol
                    - @users.count.times do |i|
                      - pick = @picks[(round - 1) * @users.count + i]
                      %li= pick.nil? ? "" : "#{pick.user.full_name}: #{player_and_team(pick.player)}"
        #chat-window.span4
          #chat-content
            %ul#messages
              - @messages.each do |message|
                %li{:style => "color:#{color_for_user(message.user_id)}"}= "#{message.user_name}: #{message.body}"
          #chat-input
            = form_tag '/messages', :remote => true, :id => 'message-form' do
              = text_field_tag :message, nil, :class => 'span9'
              %button.btn.pull-right Send

      :coffee
        $ ->
          window.current_user = #{current_user.id}
