%h1 Editing user

= render 'form'

%table.table
  %thead
    %tr
      %th Name
      %th Points
  %tbody
    - @user.players.each do |p|
      %tr
        %td= p.full_name
        %td= p.points

= form_tag add_player_user_path(@user), :method => :post, :class => 'form-inline' do
  = hidden_field_tag :player_id
  = label_tag 'Player Name:'
  = text_field_tag :player_name, nil, :class => 'span2'
  %button.btn Add

:javascript
  $(function() {
    $.get("/players.xml", function(data) {
      playerMap = {}
      $(data).find('player').each(function(i,player) { 
        player = $(player);
        playerMap[player.find('full-name').text()] = player.find('id').text();
      })
      $('#player_name').typeahead({
        minLength: 3,
        source: function(query, process) {
          process(Object.keys(playerMap));
        },
        updater: function(item) {
          $('#player_id').val(playerMap[item]);
          return item;
        }
      });
    });
  });

