%h2= "#{@user.first_name}'s Team"

%table.table
  %thead
    %tr
      %th Name
      %th Points
      %th
  %tbody
    - @team.each do |p|
      %tr
        %td= p.player.full_name
        %td= p.player.points
        %td= button_to 'delete', p, :method => :delete, :class => 'btn btn-danger btn-small'

= form_for Pick.new, :class => 'form-inline' do |f|
  = f.hidden_field :user_id, :value => @user.id
  = f.hidden_field :player_id
  = f.label 'Player Name:'
  = text_field_tag :player_name, nil, :class => 'span2', :autocomplete => 'off'
  %button.btn Add

:javascript
