%h2= "#{@user.first_name}'s Team"

%table.table
  %thead
    %tr
      %th Name
      %th Points
      %th
  %tbody
    - @team.each do |p|
      %tr
        %td= p.player.full_name
        %td= p.player.points
        %td= button_to 'delete', p, :method => :delete, :class => 'btn btn-danger btn-small'

= form_for UserTeam.new, :class => 'form-inline' do |f|
  = f.hidden_field :user_id, :value => @user.id
  = f.hidden_field :player_id
  = f.label 'Player Name:'
  = text_field_tag :player_name, nil, :class => 'span2', :autocomplete => 'off'
  %button.btn Add

:javascript
  $(function() {
    $.get("/players.json", function(data) {
      playerMap = {};
      $(data).each(function(i,player) {
        playerMap[player.full_name] = player.id;
      })
      $('#player_name').typeahead({
        minLength: 3,
        source: function(query, process) {
          process(Object.keys(playerMap));
        },
        updater: function(item) {
          $('#user_team_player_id').val(playerMap[item]);
          return item;
        }
      });
    });
  });

