%h1 Listing users

%ul.sortable
  - @users.each do |user|
    %li.ui-state-default{id: "users_#{user.id}"}
      = "#{user.draft_position}. #{user.first_name} #{user.last_name}"
      = link_to 'Show', user
      = link_to 'Edit', edit_user_path(user)
