%p#notice= notice

#players
  = render :partial => 'players'

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path

= javascript_include_tag 'user_updater'

= javascript_tag do
  $(document).ready(refresher("#{Date.today.to_s}", #{@user.id}));
