%h1 Listing players

%table#players.tablesorter
  %thead
    %tr
      %th Team
      %th Name
      %th Points
      %th User
      %th
      %th
      %th
  %tbody
    - @players.each do |player|
      %tr
        %td= player.team
        %td= player.full_name
        %td= player.points
        %td= player.picks.first.try(:user).try(:full_name)
        %td= link_to 'Show', player
        %td= link_to 'Edit', edit_player_path(player)
        %td= link_to 'Destroy', player, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Player', new_player_path

:javascript
  $(document).ready(function() {
    $("#players").tablesorter();
  });
