%html
  %head
    %title Playerpool
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    .container
      - if notice.present?
        %p.notice= notice
      - if alert.present?
        %p.alert= alert

      = yield
